/*----------------------------------------*\
     Google Font Import
\*----------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@500&display=swap');
/*----------------------------------------*\
     Common Design Section
\*----------------------------------------*/
body{
    font-family: 'Poppins', sans-serif;
    padding: 30px;
}
h1{
    font-size: 62px;
}
h2{
    font-size: 35px;
    margin-bottom: 0;
}
h3{
font-size: 25px;
margin-bottom: 5px;
}
a{
    text-decoration: none;
}
p{
    text-align: justify;
}

/*----------------------------------------*\
     Header Design Section
\*----------------------------------------*/
header, section{
    margin-bottom: 100px;
}
nav, .header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 30px;
}
/*----------------------------------------*\
     Navigation Bar Design Section
\*----------------------------------------*/
.nav-link ul{
    display: flex;
    align-items: center;
    column-gap: 25px;
    flex-wrap: wrap;
}
.nav-link ul li{
    list-style: none;    
}
.nav-link ul li a{
    color: black;
}
/*----------------------------------------*\
     Header Content Design Section
\*----------------------------------------*/
.header-data:hover .heading{
    transform: rotate(360deg);
    transition: transform 2s ease-in-out;
}
.half-width{
    width: 50%;
}
.half-width.img{
    transform: scale(0.9);
    display: flex;
    justify-content: right;
}
/*----------------------------------------*\
            Link Button Design
\*----------------------------------------*/
.link-button{
    width: 140px;
    padding: 5px 10px;
    text-align: center;
    background-color: #E02C6D;
    text-decoration: none;
    border-radius: 20px;
}
.link-button a{
    color: white;
}
.link-button i, .see-more i{
    margin-left: 5px;
}
/*----------------------------------------*\
     Logos Design Section
\*----------------------------------------*/
.logos{
    display: flex;
    justify-content: center;
    column-gap: 35px;
    row-gap: 20px;
    flex-wrap: wrap;
}
/*----------------------------------------*\
     Populat Collection Design Section
\*----------------------------------------*/
.sec-title{
    text-align: center;
    margin-bottom: 50px;
}
.popular-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.item{
    padding: 14px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.fas.fill{
    color: #FB8200;
}
.item-info{
    color: #787885;
}
.see-more{
    text-align: right;
    margin-top: 50px;
    color: #E02C6D;
}
/*----------------------------------------*\
        Optional Design Section
\*----------------------------------------*/
.optional{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}
.op-img{
    width: 100%;
}
/*----------------------------------------*\
         Footer Design Section
\*----------------------------------------*/
footer{
    text-align: center;
    color: white;
    background-color: black;
    padding: 30px ;
}
.icon{
    display: flex;
    justify-content: center;
    column-gap: 25px;
    padding-top: 15px;
}
/*----------------------------------------*\
         Media Query Section
\*----------------------------------------*/
@media only screen and (max-width:688px) {
    body{
        padding: 0 20px;
    }
    .header-content, .half-width.img, nav, .optional{
        flex-direction: column;
        row-gap: 20px;
        column-gap: 20px;
    }
    .popular-items{
        grid-template-columns: repeat(1, 1fr);
    }
    .half-width{
        width: 90%;
    }
    .logos{
        column-gap: 20px;
        row-gap: 20px;
    }
    .bannar img{
        width: 90%;
    }
}
@media only screen and (min-width:689px) and (max-width:992px) {
   
    .header-content, .optional, .half-width.img{
        flex-direction: column;
    }
    .popular-items{
        grid-template-columns: repeat(2, 1fr);
    }
    .half-width{
        width: 100%;
    }
}