/*----------------------------------------*\
     Google Font Import
\*----------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@500&display=swap');
/*----------------------------------------*\
     Common Design Section
\*----------------------------------------*/
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 62px;
}
h2{
    margin-bottom: 0;
}
a{
    text-decoration: none;
}
p{
    text-align: justify;
}

/*----------------------------------------*\
     Header Design Section
\*----------------------------------------*/
header{
    margin-bottom: 100px;
}
nav, .header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
/*----------------------------------------*\
     Navigation Bar Design Section
\*----------------------------------------*/
.nav-link ul{
    display: flex;
    align-items: center;
    column-gap: 25px;
    flex-wrap: wrap;
}
.nav-link ul li{
    list-style: none;    
}
.nav-link ul li a{
    color: black;
}
/*----------------------------------------*\
     Header Content Design Section
\*----------------------------------------*/
.half-width{
    width: 50%;
}
.half-width.img{
    transform: scale(0.9);
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}
/*----------------------------------------*\
            Link Button Design
\*----------------------------------------*/
.link-button{
    width: 140px;
    padding: 5px 10px;
    text-align: center;
    background-color: #E02C6D;
    text-decoration: none;
    border-radius: 20px;
}
.link-button a{
    color: white;
}
.link-button i, .see-more i{
    margin-left: 5px;
}
/*----------------------------------------*\
     Logos Design Section
\*----------------------------------------*/
.logos{
    display: flex;
    justify-content: center;
    column-gap: 35px;
    margin-bottom: 100px;
}
/*----------------------------------------*\
     Populat Collection Design Section
\*----------------------------------------*/
.sec-title{
    text-align: center;
    margin-bottom: 50px;
}
.popular-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.item{
    padding: 14px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.fas.fill{
    color: #FB8200;
}
.item-info{
    color: #787885;
}
.see-more{
    text-align: right;
    margin-top: 50px;
    color: #E02C6D;
}